<launch>
    
    <arg name="use_sim_time" default="false"/>

    <group ns="static_transform_publishers">

        <node pkg="tf2_ros" type="static_transform_publisher" name="to_camera_broadcaster" required="true"
              args="0.0 0.0 3.0
                   -0.5, -0.5, 0.5, 0.5
                   mocap_Kinect2BlockRoof_Kinect2BlockRoof   kinect2_roof_link"/>

    </group>

</launch>
